@charset "UTF-8";

@font-face {
    font-family: 'athena';
    src: url(Fonts/SaintCarell_PERSONAL_USE_ONLY.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

#menu {
    font-family: sans-serif;
    font-size: 1.2em;

    position: absolute;
    top: 220px;
    left: 6px;

    width: 181px;
    height: 523px;

    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: 8px 0px 1px rgba(3, 128, 19, 0.973);

    border-radius: 20px;
}

#menu ul {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding-left: 10px;
    padding-top: 30px;

}

#menu ul li {
    position: relative;
    list-style: none;
    width: 99%;


}

#menu ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
}

#menu ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
    line-height: 70px;


}

#menu ul li a .icone ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
    color: rgb(0, 226, 30);


}

#menu ul li a .lista {
    position: relative;
    display: block;
    padding-left: 5px;
    height: 61px;
    line-height: 60px;
    white-space: nowrap;
    text-shadow: 1px 1px 2px black;
}

#menu ul li:hover {

    background-image: linear-gradient(to right, rgb(0, 148, 32), rgb(18, 146, 50), rgba(7, 117, 22, 0.973));
    border-radius: 2px 2px 2px 40px;


}

#menu ul li a .icone ion-icon:hover {
    color: white;
}

#menu p {
    color: white;
    font-size: 0.5em;
    text-align: center;
    margin-top: 22px;
}

/*DAKI PRA BAIXO*/
/*DAKI PRA BAIXO*/
/*DAKI PRA BAIXO*/





body {

    background-image: url(imagens/Mato22.jpg);
    background-size: cover;

    display: flex;
    background-color: black;


}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'athena';
}


header {

    background-image: url(imagens/GIF-D1.gif);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150px;
    margin: auto;
    padding-top: 20px;
    box-shadow: 0px 2px 13px black;

}

header h1 {
    font-size: 3em;
    text-shadow: 1px 1px 3px black;
}

#cabesario {
    background-color: rgba(240, 248, 255, 0.249);
    width: 800px;
    height: 110px;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    margin: auto;
    box-shadow: 2px 2px 8px black;

}

header p {
    color: white;
    font-size: small;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

section {
    position: absolute;
    top: 219px;
    left: 285px;
    width: 70vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 22px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 2px black;
}

section img {
    width: 500px;
    text-align: center;
    border-radius: 15px;
}

footer {
    position: absolute;
    top: 900px;
    left: 285px;
    width: ;
    width: 70vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 22px;
    font-family: sans-serif;
    font-weight: bolder;
    margin: auto;
    text-shadow: 1px 1px 2px black;
    text-align: right;
}

footer a {
    color: white;
}

#img01 {
    text-align: center;
}