@charset "UTF-8";

body {
    background-color: rgb(15, 15, 14);
}

a {
    font-family: cursive;
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: rgb(135, 135, 135);
}

main {
    background-color: aqua;
    background-image: url(imagens/QUALIDADE_BOA_GATO.png);

    background-size: 100% 100%;
    width: 48vw;
    height: 49vh;
    margin: auto;
    margin-top: 50px;

}